<div class="section-wrapper">
<div class="container">
  <div class="row-fluid">

    <div class="span7 box offset3">
      <div class="span5">
      <%= link_to "Sign up as a new user", new_user_path, :class => "btn btn-large " %>
      </div>
      <div class="span2" style="margin-top:12px">OR</div>
      <div class="span5">
      <%= link_to "Associate to an existing account", login_path, :class => "btn btn-large" %>      
      </div>
    </div>

  </div>
</div>
</div>
